<!DOCTYPE html>
<html>
<head>
    <title>vue中动态添加div</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <link rel="stylesheet" href="/css/vue-treeselect.min.css">
    <link href="/css/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.bundle.css" rel="stylesheet" type="text/css"/>
    <style>
        .select-panel {
            height: 0;
            z-index: 999;
            float:left;
            position: absolute;

        }
        .select-item {
            /*height: 0;*/
            z-index: 999;
            margin: 1px;
            padding: 2px;
            background: #fff;
            opacity: 0.8;
        }
    </style>
    <!-- 引入 Vue -->
    <script src="/js/vue2.5.17.js"></script>
    <!-- 引入 VueTree -->
    <script src="/js/vue-treeselect.min.js"></script>
    <!-- 引入 Vueresource -->
    <script src="/js/vue-resource.js" type="text/javascript"></script>
</head>

<body>   <!--:value-consists-of="valueConsistsOf"-->
<div id="app" align="center">
    <div><label style="font-size: 30px;color: black">vue中动态添加div</label></div>
     <!--新增div中包含下拉框信息-->
    <div align="left" style="margin-left: 365px;"><label style="font-size: 20px;color: black">新增div中包含下拉框信息</label></div>
    <div style="width: 800px">
    <div v-for="(v,i) in list">
        <div data-repeater-list="">
            <div data-repeater-item>
                <div class="form-group  m-form__group row" style="padding-top: 15px;padding-bottom: 15px;">
                    <label class="col-form-label col-lg-2 col-sm-12">联系人类型 <span
                            style="color: #F00">*</span>
                    </label>
                    <div class="col-lg-3">
                        <select class="form-control m-input&#45;&#45;fixed"
                                v-model="list[i].contactType " @change="VerifyContactType(i)">
                            <option v-for="option in contacttype_arr"
                                    v-bind:value="option.id">{{ option.typename}}
                            </option>
                        </select>
                    </div >
                    <label class="col-form-label col-lg-2 col-sm-12"> 数量<span
                            style="color: #F00">*</span></label>
                    <div class="col-lg-3">
                        <input type="text" v-model="list[i].number"
                               class="form-control m-input&#45;&#45;fixed"
                               placeholder=""/>
                    </div>
                    <div class="col-lg-2">
                        <div data-repeater-delete="" v-on:click="deleteNode(i)" style="margin-left: 35px;"
                             class="btn-sm btn btn-danger m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;pill">
                            <span>
                              <!--  <i class="la la-trash-o"></i> -->
                                <span> 删除 </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-form__group form-group row">
        <label class="col-lg-4 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <div class="col-lg-4" v-on:click="addNode()">
            <div data-repeater-create="" style="text-align: center"
                 class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide">
                <span>
                   <!-- <i class="la la-plus"></i> -->
                    <span> 添加 </span>
                </span>
            </div>
        </div>
    </div>
    </div>
    <!--新增div中包含搜索框-->
    <div align="left" style="margin-left: 365px;"><label style="font-size: 20px;color: black">新增div中包含搜索框</label></div>
    <div style="width: 800px">
        <div v-for="(v,i) in contactlist">
            <div data-repeater-list="">
                <div data-repeater-item>
                    <div class="form-group  m-form__group row" style="padding-top: 15px;padding-bottom: 15px;">
                        <label class="col-form-label col-lg-2 col-sm-12">联系人<span
                                style="color: #F00">*</span>
                        </label>
                        <div class="col-lg-3">  <!--@change="onchangDrugType(i)"-->
                            <input type="text" v-model="contactlist[i].name" @blur="onchangContactPersonName(i)"
                                   class="form-control m-input&#45;&#45;fixed"
                                   placeholder="请搜索联系人名称"/>
                            <div class="select-panel">
                                <div v-show="contactlist[i].isShow" v-for="w in words" class="select-item" @click="click_item(w,i)">{{ w.NAME }}</div>
                            </div>
                        </div >
                        <label class="col-form-label col-lg-2 col-sm-12">电话<span
                                style="color: #F00">*</span></label>
                        <div class="col-lg-3">
                            <input type="text" v-model="contactlist[i].phone"
                                   class="form-control m-input&#45;&#45;fixed"
                                   placeholder=""/>
                        </div>
                        <div class="col-lg-1">
                            <div data-repeater-delete=""
                                 style="margin-left: 25px"
                                 v-on:click="deleteContactNode(i)"
                                 class="btn-sm btn btn-danger m-btn m-btn--icon m-btn--pill">
																       		<span style="width: 20px;height: 25px;">
																		   		<!--<i class="la la-trash-o"></i>-->
                                                                                 <span> 删除</span>
																			</span>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div data-repeater-create=""
                                 style="width: 55px;margin-left: 15px"
                                 v-on:click="addContactNode()"
                                 class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide">
														              		<span style="width: 20px;height: 25px;margin-left: -13px">
																		  		<!--<i class="la la-plus"></i>-->
                                                                               <span> 添加 </span>
														              		</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    // register the component
    Vue.http.options.emulateJSON = true;
    Vue.component('treeselect', VueTreeselect.Treeselect)
    new Vue({
        el: '#app',
        data: {
            contacttype_arr:[
                {id: 1, typename: '家人'},
                {id: 2, typename: '朋友'},
                {id: 3, typename: '同事'}
            ],
            //联系人类型
            list:[
                {contactType: '', number: ''}
            ],
            //联系人数组
            contactlist:[
                {id:'',name: '', phone: '',isShow:false}
            ],

            words: [],//联系人名搜索数组
        },
        //初始化方法
        mounted:function () {

        },
        methods: {

            //添加联系人类型div
            addNode:function() {

                //判断数组长度不能超过 3
                if(this.list.length<3){
                    this.list.push({contactType: '', number: ''});
                }else {
                    alert("联系人类型不能超过3个！");
                }
            },
            //删除联系人类型div
            deleteNode:function(i) {
                this.list.splice(i,1);
            },
            //校验联系人类型，在数组中是否已经存在
            VerifyContactType:function (i) {
                var flag=true;
                var tempcontactType=this.list[i].contactType;
                for(var j=0;j<i;j++){
                    if(this.list[j].contactType==tempcontactType){
                        flag=false;
                    }
                }

                if(flag==false){
                    alert("联系人类型已选择!");
                    this.list[i].contactType='';
                    return false;
                }else {
                    return true;
                }
            },

            //删除联系人div
            deleteContactNode:function(i) {
                //判断数组长度至少保留1
                if(this.contactlist.length>1){
                    this.contactlist.splice(i,1);
                }else {
                    alert("联系人至少保留一个！");
                }

            },

            //添加联系人div
            addContactNode:function() {
                this.contactlist.push({name: '', phone: ''});
            },

            //监听联系人变化
            onchangContactPersonName:function (i) {
                debugger
                var name=this.contactlist[i].name;
                this.$http.post("/contact/findContactPersonList",{name:name}).then(function(response) {
                    this.words = response.data;
                    //如果药品名称搜索为空，则给出提示
                    if(this.words.length<1){
                        alert("没有您要搜索的联系人!");
                        this.contactlist[i].name='';//清空输入的内容
                    }else {
                        this.contactlist[i].isShow=true;//显示药品下拉框
                    }


                }).catch(function(response) {
                    alert("调用后台接口失败!");
                });
            },

            //单个联系人选项点击事件
            click_item:function(w,i) {
                debugger
                this.contactlist[i].id=w.ID;
                this.contactlist[i].name=w.NAME;
                this.contactlist[i].isShow=false;
                // 校验联系人名称是否已经输入
                this.VerifyContactName(i);
            },

            //校验联系人名称，在数组中是否已经存在
            VerifyContactName:function (i) {
                debugger
                var flag=true;
                var tempId=this.contactlist[i].id;
                for(var j=0;j<i;j++){
                    if(this.contactlist[j].id==tempId){
                        flag=false;
                    }
                }
                if(flag==false){
                    alert("联系人名称已输入!");
                    this.contactlist[i].id=''
                    this.contactlist[i].name='';//清空输入的内容
                    return false;
                }else {
                    return true;
                }
            },

        }
    })
</script>
<!--<script src="/js/org.js" type="text/javascript"></script>-->
</body>
</html>